body {
    border:cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(10, 10, 10);
    text-align: center;
}

section {
    padding: 20px;
    margin: 10px 10%;

}
section:nth-child(odd){background-color: rgb(120, 120, 116);}

.navbar {
    background-color: rgb(81, 100, 100);
    display: flex;
    list-style-type: none;
}

.menu {
    padding: 1%;

}

.menu a {
    color: black;
    text-decoration: none;
    text-decoration: double;

}

#home {
    display: inline-block;
}
#home h1{color: blueviolet;
font-size: 48px;}

#home h2{color: rgb(96, 5, 5);
     text-align: left;}

#about>div {
    display: flex;

}

#about>div div {
    padding: 1%;
}

#skills>div {
    display: grid;
    grid-template-columns: 50% 50%;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px;
}

table td {
    padding: 12px; 
}
table tr:nth-child(even){background-color: rgb(216, 210, 223);}

footer{background-color: cadetblue  ;
    color:white;
    text-align: center;
padding: 4%;} 

#contact>div{
    display: grid;
    grid-template-columns: 50% 50%;
}

form{padding:4%;
}
form input{
    display: block;
    width: 100%;
margin: 4%;
height: 36px;}

input[type="submit
]{background-color: #ff0000;color:white;
border: none;}